// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

.nav-link:hover {
  text-decoration: underline;
}
.jumbotron{
    background-image: url("../img/pirate-ship.jpg");
    background-size: cover;
}
h1{
  text-align: center
}
h2{
  text-align: center;
}
h4{
  text-align: left
}
p {
  font-family: "Times New Roman", Times, serif;
}
.carousel {
  position: absolute;
  top: -100;
  left: 500;
  min-width: 5%;
  height: 11%;
}
// Import partials here
